<head>
	<link rel="stylesheet" type="text/css" href="appointments.component.css">
</head>
<body>
<div class="container">
				<div class="greyspace">
					<div class="selected">Appointments
							<router-outlet></router-outlet>
						</div>
					<div class="calendarofevents"></div>
					<p class="mon1">Mon</p>
					<p class="mon2">Mon</p>
					<p class="mon3">Mon</p>
					<div  class="calendar">
						<span>Unconfirmed</span>
						<!-- <div  class="unconfirmed"><strong>Object specific date info</strong> &bull; Object specific summary</div> -->
						<span>Upcoming</span>
						<!-- <div class="upcoming"><strong>Object specific date info</strong> &bull; Object specific summary</div>
						<div class="upcoming"><strong>Object specific date info</strong> &bull; Object specific summary</div>
					</div>	 -->

					<div *ngFor="let d of data | async">
						<!-- <p>{{d.description}}</p> </div> -->
						<div class="unconfirmed"><b>{{d.date}}</b> &bull; {{d.summary}}</div>
					</div>
					</div>
					</div>
</div>
</body>

