body {
	font-family: Helvetica, Arial, sans-serif;
}

.home {
	position: relative;
	display: block;
}

h1 {
	color: #2F6A75;
}

button {
	color: white;
	background-color: #01D1D9;
	padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
    position: relative;
    left: 562px;
} 

.container {
	background-color: white;
	width: 715px;
	height: 320px;
	border-radius: 5px;
}

#day {
    font-size: 16px;
	margin-left: 30px;
	color: #2F6A75;
	position: relative;
	top: 25px;
	border-bottom: 4px solid #E9EAEA;
	width: 640px;
}
#day a{
    text-decoration: none;
	color: #2F6A75;
}

#day:after {
  content: '';
  display: block;
  border-bottom: 4px solid #2F6A75;
  margin-bottom: -4px;
  max-width: 45px;
}

.curAppointments {
    padding-left: 30px;
    padding-top: 20px;
    color: black;
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: -60px;
}

#time {
    font-size: 22px;
}

#instructions {
    position: relative;
    bottom: 214px;
    float: right;
    right: 50px;
}

img {
    position: relative;
    bottom: 10px;
}

#address {
    position: relative;
    left: 160px;
    bottom: 136px;
}