
body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

h4 {
	font-weight: bold;
	font-size: 24px;
	position: relative;
	margin-top: 20px;
	padding-left: 35px;
	position: relative;
	top: 20px;
}
h4 {
}
.menu {
	background-color: #01D1D9;
	margin: 20px;
	padding: 20px;
	border-radius: 7px;
	width: 255px;
	height: 215px;
	display: inline-block;
}

.goto {
	padding: 5px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	outline: none;
}
.goto a {
	color: #fff;
	text-decoration: none;
}
.goto i {
	padding-right: 5px;
}
.goto:hover {
	background-color: #276470;
}

.userinfo {
	color: #000;
	font-size: 16px;
}

.userinfo  img{
	height: 50px;
	width: 50px;
	border: 3px solid white; 
	border-radius: 3px;
	position: relative;
	right: 5px;

}
.moreinfo {
	float: right;
	display: inline-block;
}
.moreinfo button{
	height: 20px;
	width: 20px;
	margin-top: 14px;
	margin-right: 8px;
	margin-left: 5px;
	position: relative;
	right: 10px;
}

.moreinfo img {
	height: 20px;
	width: 28px;	
	border: 1px solid #01D1D9;
	margin-left: -10px;
	margin-top: -5px;
}

.menu{
	display: inline-block;
}
.greyspace {
	background-color: rgba(233,234,234, 0.7);
	height: 650px; 
	width: 780px;
	margin-top: 15px;
	border-radius: 5px;
	position: relative;
	left: 248px;
	bottom: 300px;
	overflow-y: auto;
	}

.selected {
	font-size: 24px;
	color: #2F6A75;
	padding-top: 10px;
	margin-left: 35px;
}	