<head>
	<link rel="stylesheet" href="./main.css">
</head>
<body>
	<div class="container">
			<h4>APP_NAME</h4>
			<div class="menu">

				<div class="userinfo"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpWMOVHeFzDQhg3e7gzqgJLdRYQ44EgxKM5B2XMNSDhxptbN7AE-re6aE"><span>Name Surname</span><div class="moreinfo"><button><img src="dropdownbtn.png"></button></div></div>

				<div class="goto">
					<i class="fa fa-home" aria-hidden="true"></i>
					<a routerLink="/">Home</a>
				</div>
				<div class="goto">
					<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
					<a routerLink="/appointments">Appointments</a>
				</div>
				<div class="goto">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					<a routerLink="/pnotes">Personal Notes</a>
				</div>
				<div class="goto">
					<i class="fa fa-comments-o" aria-hidden="true"></i>
					<a routerLink="/messages">Messages</a>
				</div>
			</div>
				<div class="greyspace">
					<div class="selected">
							<router-outlet></router-outlet>
						</div>
				</div>
	</div>
</body>
