<head>
	<link rel="stylesheet" href="./main.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="appname"><h4>APP_NAME</h4></div>
			<div class="menu">

				<div class="userinfo"><img src="img/default-user-image.png">Name Surname<div class="moreinfo"><button><img src="img/dropdownbtn.png"></button></div></div>

				<div class="goto">
					<i class="fa fa-home" aria-hidden="true"></i>
					<a routerLink="/home">Home</a>
				</div>
				<div class="goto">
					<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
					<a routerLink="/appointment">Appointments</a>
				</div>
				<div class="goto">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					<a routerLink="/pnotes">Personal Notes</a>
				</div>
				<div class="goto">
					<i class="fa fa-comments-o" aria-hidden="true"></i>
					<a routerLink="/messages">Messages</a>
				</div>
			</div>
		</div>	
			<div class="rightside">
				<div class="greyspace">
					<div class="selected">
							<router-outlet></router-outlet>
						</div>
				</div>
			</div>
	</div>
</body>
